body {
  background-color: grey;
  padding-top: 10px;

}
.jumbotron {
  color: white;
  background-color: #212529;
}

[class*="col-"], footer {
  background-color: #212529;
  border: 2px solid #32383e;
  border-radius: 6px;
  line-height: 40px;
  text-align: center;
}
.table-bordered td, .table-bordered th {
  border-color: #d1a93a;
  border-width: medium;
}
tr{
  width: 1000px;
  height: 250px;
}
td {
  width:250px;
  height:250px;
  background-repeat: no-repeat;
  background-size: contain;
}
table {
  text-align: center;
}
.pion{
  font-size: 25px;
  padding-top: 35%;
  margin-top: 5%;
  margin-left: 5%;
  width: 90%;
  height: 90%;
  border-radius: 10%;
  background-color: grey;
}
h1 {
  font-size: 80px;
}
.blank {
  background-color: black;
}

#id0_0{
  background-image: url(cards/1.png);

}
